body {
	background: rgb(226,238,174);
	background: linear-gradient(180deg, rgba(226,238,174,0.4920168751094187) 0%, rgba(148,230,233,0.9457983877144608) 100%);
	color: #DDDDDD;
	font-family: 'Timmana', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

.main-container {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-container {
	border: 1px solid black;
	background-color: #251647;
	width: 1000px;
	height: 600px;
	padding-top: 20px;
	border-radius: 7px;
	box-shadow: 0 0 20px 1px #474747;


}

.top-bar {
	height: 70px;
	display: flex;
	justify-content: space-between;
}

.metro-section {
	width: 350px;
	height: 50px;
	padding-left: 50px;
	display: flex;
	align-items: center;
}
.metro-text {
	padding-top: 10px;
}

.metro-led {
	width: 30px;
	height: 30px;
	background-color: #4f0c0c;
	border-radius: 50%;
}

#metro-led {
	width: 30px;
	height: 30px;

}

.met-lit {
	border-radius: 50%;
	border: 1px solid #ff2323;
	background-color: #ff2323;
	box-shadow: 0 0 2px 2px #ff2323;
	animation: ledOut 150ms;
	-o-animation: ledOut 150ms;
	-moz-animation: ledOut 150ms;
	-webkit-animation: ledOut 150ms;
	animation-fill-mode: forwards;
	
}

@keyframes ledOut {
	from {}
	to {
		
		background-color: #4f0c0c;
		border: 1px solid #4f0c0c;
		box-shadow: 0 0 0 0 #000000;

	} 
}

.metro-text {
	margin-left: 10px;
	margin-right: 13px;
}

.metro-switch {
	width: 40px;
	height: 30px;
	background-color: #a6aab2;
	border-radius: 4px;
}

.met-switch-in {
	background-color: #a5d682;
	box-shadow: 0 0 4px 1px #a5d682;
}

.switch-lit {
	background-color: #22ff31;
	box-shadow: 0 0 3px 3px #22ff31;
}

.badge {
	font-family: 'Fugaz One', cursive;
	font-size: 40px;
	padding-right: 50px;
	text-transform: none;
}

.break-section {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.wave {
	background-image: url("../img/waveform_1i.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid #d4cd7e;
	box-shadow: 0 0 1px 2px #fff690;
	border-radius: 2px;
	height: 170px;
	width: 900px;
	position: relative;
}

#const-marker {
	position: absolute;
	top: 0;
	left: 0;
	height: 170px;
	width: 2px;
	background-color: #232215;
}

/*#mod-marker {
	position: absolute;
	top: 0;
	left: 0;
	height: 170px;
	width: 2px;
	background-color: red;

}*/

.mid-section {
	padding: 0px 50px 0px 50px;
	display: flex;
	justify-content: space-between;
	height: 80px;
	margin-bottom: 20px;
}


.bpm-section {
	width: 400px;
	display: flex;
	padding-left: 40px;
}

.bpm-text {
	line-height: 90px;
	margin-left: 10px;
}

.pitch-section {
	width: 400px;
	padding-left: 60px;
}

.pitch-text {
	float: left;
	line-height: 90px;
	margin-right: 10px;

}

.pitch-down-btn {
	float: left;
	width: 100px;
}

.pitch-up-btn {
	float: left;
	width: 100px;
}

.btn-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3px;
}

.control {
	font-family: 'Helvetica', 'Arial', sans-serif;
	border: 1px solid rgba(55,55,55,1);
	background: rgb(194,194,194);
	background: linear-gradient(90deg, rgba(124,124,124,1) 0%,  rgba(199,199,199,1) 20%, rgba(199,199,199,1) 80%, rgba(235,235,235,1) 100%);
	height: 70px;
	width: 70px;
	margin: 3px 5px 3px 5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control.g {
	margin-right: 90px;
}

.inner {
	position: relative;
	height: 57px;
	width: 50px;
	border: 1px solid rgb(199,199,199,1);
	background: rgb(235,232,227);
	background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(164,164,164,1) 100%);
	padding-top: 7px;
	padding-left: 7px;
	box-sizing: border-box;
	border-radius: 140px / 40px;
	margin-bottom: 10px;
	color: black;
	font-size: 20px;


}
.inner:before {
	position: absolute;
	left: -11px;
	top: -2px;
	width: 70px;
	height: 6px;
	border-radius: 155px/20px;
	background: linear-gradient(90deg, rgba(124,124,124,1) 0%,  rgba(199,199,199,1) 20%, rgba(199,199,199,1) 80%, rgba(235,235,235,1) 100%);
	content: '';
}

.control-down {
	box-shadow: inset 0 0 2px 3px rgba(44,44,44,1);
}

.inner-down {
	margin-bottom: 2px;
	font-size: 20px;

}

.inner-down:before {
	width: 60px;
	left: -7px;
	background: linear-gradient(90deg, rgba(124,124,124,1) 0%,  rgba(199,199,199,1) 16%, rgba(199,199,199,1) 80%, rgba(235,235,235,1) 100%);



	/*box-shadow: inset 25px 0px 25px -25px rgba(0,0,0,0.45), inset -25px 0px 25px -25px rgba(0,0,0,0.45);*/
}

.text-section {
	height: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.text-box {
	width: 200px;
}

.bottom-section {
	height: 80px;
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
}

.bottom-left{
	display: flex;
	justify-content: center;


}

.bottom-right {
	width: 300px;

}

.play-stop {
	display: flex;
	align-items: center;
	padding-left: 12px;
}

.seek-btns {
	width: 110px;
}
.seek-inner {
	width: 90px;
}
.seek-inner:before {
	width: 110px;
}

.fb {
	margin-left: 265px;
}

.pb {
	margin-right: 115px;
}
.ll {
	margin-left: 165px;

}
	
.ps {
	margin-right: 18px;
}
